<ul class="navbar-nav navbar-right">
    <!--<li *ngFor="let element of listaMenu" class="nav-item active">
        <a class="nav-link" [routerLink]="[element.route.replace('/inicio', '')]">{{element.name}} <span
                class="sr-only">(current)</span></a>
    </li>-->
    <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/quienes-somos']">Quienes somos <span class=" sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/en-venta']">En venta <span class=" sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/promociones']">Promociones <span class=" sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/en-venta']">Venda su camión <span class=" sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/todos-nuestros-servicios']">Todos nuestros servicios <span
                class=" sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        &nbsp;
    </li>
</ul>